@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300;400&display=swap');

:root {
    --font-family: font-family: "Roboto", sans-serif;
    --primary-color: #e53939;
    --background-color: #0c0c0c;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;

}

h3 {
    font-size: 1.8em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 30px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 12px;
    margin: 20px;
}