@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300;400&display=swap');

:root {
    --font-family: font-family: "Roboto", sans-serif;
    --primary-color: #e53939;
    --background-color: #0c0c0c;
}